<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Platform</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="nav-bar">
            <div class="top-nav">
                <div class="logo"></div>
                <div class="nav-links">
                    <a href="#" class="nav-link" id="course-link">
                        <div class="nav-icon">
                            <img src="/images/placeholder.png" width="32px">
                        </div>
                        <div class="nav-text">Course</div>
                    </a>
                    <a href="#" class="nav-link" id="create-link">
                        <div class="nav-icon">
                            <img src="/images/placeholder.png" width="32px">
                        </div>
                        <div class="nav-text">Create</div>
                    </a>
                </div>

            </div>
            <div class="bottom-nav">
                <div class="nav-links">
                    <p>Hello, <%- user.username %>!</p>
                    <a class="nav-link nav-flex">
                        <div class="nav-icon">
                            <img src="/images/streak.png" width="32px">
                        </div>
                        <div class="nav-text streak">365</div>
                    </a>
                    <a class="nav-link" href="#" onclick="signOut()">
                        <div class="nav-sign-out">Sign Out</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="course-container">
            <h1>Course</h1>
            <div class="course-list">
                <% language.course.forEach(function(lesson, index) { %>
                    <div class="course-item" style="box-shadow: 0px 0px 3px #ccc; border-radius: 10px; margin: 2em;">
                        <h2><%= lesson.title %></h2>
                        <p><%= lesson.description %></p>
                        <a href="/courses/<%= index %>" class="view-course-button button">View Course</a>
                    </div>
                    
                <% }); %>
            </div>
        </div>
    </div>

    <div class="lesson-creation-container" hidden>
        <h1>Let's create a lesson!</h1>
        <form id="lesson-form" action="/lesson" method="POST">
            <input type="text" id="prompt" name="prompt" placeholder="Lesson topic" required><br>
            <div class="submit-container">
                <button class="continue-button" type="submit">Create</button>
            </div>
        </form>
    </div>

    <script>
        function signOut() {
            fetch('/api/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/login';
                } else {
                    console.error('Logout failed');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        document.addEventListener('DOMContentLoaded', function() {
            const toggleVisibility = (showContainer, hideContainer, activeLink, inactiveLink) => {
            showContainer.hidden = false;
            hideContainer.hidden = true;
            activeLink.classList.add('selected-nav-link');
            inactiveLink.classList.remove('selected-nav-link');
            };

            const lessonCreationContainer = document.querySelector('.lesson-creation-container');
            const courseContainer = document.querySelector('.course-container');
            const lessonCreationLink = document.getElementById('create-link');
            const courseLink = document.getElementById('course-link');

            toggleVisibility(courseContainer, lessonCreationContainer, courseLink, lessonCreationLink);

            lessonCreationLink.addEventListener('click', () => 
            toggleVisibility(lessonCreationContainer, courseContainer, lessonCreationLink, courseLink)
            );

            courseLink.addEventListener('click', () => 
            toggleVisibility(courseContainer, lessonCreationContainer, courseLink, lessonCreationLink)
            );
        });

        

    </script>
</body>
</html>