<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON I/O</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Let's create a lesson!</h1>
    <br>
    <br>


    <form id="lesson-form" action="/api/create" method="POST">
        <input type="text" id="prompt" name="prompt" placeholder="Lesson topic" required><br>
        <input type="text" id="language" name="language" placeholder="Language"><br>
        <div class="submit-container">
            <button class="continue-button" type="submit">Create</button>

        </div>
    </form>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            const lessonForm = document.getElementById('lesson-form');
            const greetingResult = document.getElementById('greeting-result');

            lessonForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting the traditional way

                const formData = new FormData(lessonForm);
                const name = formData.get('name');

                fetch('/api/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name })
                })
                .then(response => response.json())
                .then(data => {
                    greetingResult.innerHTML = `<p>${data.text}</p>`;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script> -->
</body>
</html>