<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Platform</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/language-selector.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="language-selector-wrapper">
        <div class="language-selector-container">
            <h1>Select a Language</h1>
            <form id="language-form" action="/api/language" method="POST">
                <p style="margin:0;">Select a language you want to learn!</p>
                <select id="language-select" name="language">
                    <% languages.forEach(function(language) { if(!language.custom) { %>
                        <option value="<%= language.language %>"><%= language.language %></option>
                    <% }}); %>
                    <!-- TODO: Include users language -->
                      <option value="other">Other</option>
                </select>
                <input type="text" id="otherLanguage" name="otherLanguage" placeholder="Type the language you want to learn" style="display: none;">
                <p class="experimental" hidden>Beware: this feature is very experimental</p>
                <div class="submit-container">
                    <button class="continue-button" type="submit">Select</button>
                </div>
            </form>
        </div>
    </div>

    <div class="generating-wrapper" hidden>
        <div class="generating-container">
            <h1>Generating language structure!</h1>
            <div class="spinner-container">
                <div class="spinner"></div>
            </div>
        </div>
    </div>

    <script>
        const languageSelect = document.getElementById('language-select');
        const otherLanguageInput = document.getElementById('otherLanguage');

        languageSelect.addEventListener('change', function() {
            if (this.value === 'other') {
                otherLanguageInput.style.display = 'block';
                document.querySelector('.experimental').hidden = false;
                isOtherLanguageEmpty();
                
            } else {
                otherLanguageInput.style.display = 'none';
                document.querySelector('.continue-button').disabled = false;
                document.querySelector('.experimental').hidden = true;

            }
        
        });

        otherLanguageInput.addEventListener('input', function() {
            isOtherLanguageEmpty();
        });

        function isOtherLanguageEmpty() {
            if (otherLanguageInput.value.trim() === '') {
                document.querySelector('.continue-button').disabled = true;
            } else {
                document.querySelector('.continue-button').disabled = false;
            }
        }

        const languageForm = document.getElementById('language-form');
        const generatingWrapper = document.querySelector('.generating-wrapper');

        languageForm.addEventListener('submit', function(event) {
            // Show the generating-wrapper
            generatingWrapper.hidden = false;
        });
    </script>
</body>
</html>