<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Learning Platform</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="language-selector-wrapper">
        <div class="language-selector-container">
            <h1>Select a Language</h1>
            <form id="language-form" action="/api/language" method="POST">
                <select id="language-select" name="language">
                    <% languages.forEach(function(language) { %>
                        <option value="<%= language.language %>"><%= language.language %></option>
                    <% }); %>
                    <!-- TODO: Include users previous language choices -->
                      <option value="other">Other</option>
                </select>
                <input type="text" id="other-language" name="other-language" placeholder="Other language" style="display: none;">
                <div class="submit-container">
                    <button class="continue-button" type="submit">Select</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const languageSelect = document.getElementById('language-select');
        const otherLanguageInput = document.getElementById('other-language');

        languageSelect.addEventListener('change', function() {
            if (this.value === 'other') {
                otherLanguageInput.style.display = 'block';
            } else {
                otherLanguageInput.style.display = 'none';
            }
        });
    </script>
</body>
</html>