<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <div class="register-wrapper">
        <div class="register-container">
            <h1>Register</h1>
            <form action="/auth/register" method="POST">
                <input type="text" id="username" name="username" placeholder="Username" minlength="3" maxlength="32" required><br>
                <input type="password" id="password" name="password" placeholder="Password" minlength="6" maxlength="32" equired><br>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password" minlength="6" maxlength="32" required><br>
                <button type="submit" style="margin-bottom:1em;">Register</button>
            </form>
            <a href="/auth/login">Already have an account? Login here</a>
        </div>
    </div>

    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            if (password !== confirmPassword) {
                event.preventDefault();
                alert('Passwords do not match!');
            }
        });
    </script>
</body>
</html>