:root {
    --button-color: #ccc;
    --button-text-color: #666;
    --placeholder-text-color: #999;
    --selected-color: #6095ec;
    --disabled-color: #eee;
    --incorrect-color: #db6b6b;
    --correct-color: #7fc776;

}

.wrapper {
    display: flex;
    flex-direction: row;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    height: 100vh;
    border-right: 1px solid var(--button-color);
    position: fixed;

}

.content-wrapper {
    margin-left: 300px;
    width: 100%;
}

.content-wrapper.expanded {
    margin-left: 0;
}

.lesson-creation-container, .course-container {
    max-width: 1000px;
    margin: auto;
}

.bottom-nav {
    border-top: 1px solid var(--button-color);
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-radius: 12px;
    box-shadow: 0px 0px 3px #ddd;
    margin: 10px;
    height: 2em;
}

.nav-link:hover {
    background-color: #f0f0f0;
}

.selected-nav-link {
    background-color: #e9f7ff;
    border: 2px solid #00a6ff;
    color: #00a6ff;
}

.nav-icon {
    width:32px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.nav-text {
    margin-left: 10px;
}

.nav-sign-out {
    color: #ff0000;
}

.streak {
    color: #FF6F00;
}

.course-item-wrapper {
    position: relative; /* Establish positioning context */
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 10px;
    margin: 2em;
}

.course-item-disabled-container {
    position: absolute; /* Allow overlapping */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it appears on top */
    pointer-events: none; /* Prevent interaction when disabled */
}

.course-item-disabled-container.enabled {
    /* Dont interaction when enabled */
}

.course-item-container {
    position: relative; /* Ensure proper stacking context */
    z-index: 1; /* Keep it below the disabled container */
}

.view-course-button {
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #7fc776;
    color: #fff;
    box-shadow: #68a65f 0px 3px 0px; 
    margin-top: 1em;
    text-decoration: none;
}

.course-disabled {
    background-color: #888;
    box-shadow: #ddd 0px 3px 0px; 
    pointer-events: none;


}

/* Hide the navigation bar */
.nav-bar.hidden {
    display: none;
}

#toggle-nav {
    font-size: 1.5em;
    box-shadow: none;
    border: 0;
}