

/* Progress Bar */

.progress-bar-container {
    width: calc(100% - 40px);
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 20px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #7fc776;
    border-radius: 5px;
}



/* Result Styles */

@keyframes pop-in-from-bottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframe fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay-result-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.1);
    animation: fade-in 0.25s cubic-bezier(0,0,0,1);
}

.inner-result-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: #ccc 0px 0px 24px;
    animation: pop-in-from-bottom 0.25s cubic-bezier(0,0,0,1);
}

.result {
    height: 100%;
    padding: 10px;
    background-color: #eee;
}

.result-text {
    margin: 6px 0px;
}

.correct-result {
    color: #7fc776;
}

.incorrect-result {
    margin: 0;
    color: #db6b6b;
}

.incorrect-button {
    color: #fff;;
    background-color: var(--incorrect-color);
    box-shadow: #cc5151 0px 3px 0px;
}

.expected-answer-title {
    margin: 0;
}

#expected-answer {
    margin: 0;
    color: #db6b6b;
}

/* Translation Activity Styles */

#translated-word-list {
    width: 100%;   
    height: 3em;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: #ccc solid 2px;
    border-top: #ccc solid 2px;
}

#source-word-list {
    width: 100%;;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Word Matching Activity Styles */


.matching-column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.left-matching-container {
    width: 100%;
    vertical-align: middle;
    padding-right: 0.5em;
}

.right-matching-container {
    width: 100%;
    vertical-align: middle;
    padding-left: 0.5em;
}

.matching-button {
    width: 100%;
    margin: 0.5em 0;
    height: 4em;
}

.selected-button {
    color: var(--selected-color);
    border-color: var(--selected-color);
    box-shadow: var(--selected-color) 0px 3px 0px;
    background-color: #fff;
}

@keyframes incorrect-fade {
    0% {
        color: var(--incorrect-color);
        border-color: var(--incorrect-color);
        box-shadow: var(--incorrect-color) 0px 3px 0px;
    }
    100% {
        color: var(--button-text-color);
        border-color: var(--button-color);
        box-shadow: var(--button-color) 0px 3px 0px;
    }
}

.incorrect-answer {
    background-color: #fff;
    animation: incorrect-fade 1s ease-in-out;
}

@keyframes correct-fade {
    0% {
        color: var(--correct-color);
        border-color: var(--correct-color);
        box-shadow: var(--correct-color) 0px 3px 0px;
    }
    100% {
        color: var(--disabled-color);
        border-color: var(--disabled-color);
        box-shadow: var(--disabled-color) 0px 3px 0px;
    }
}

.correct-answer {
    background-color: #fff;
    animation: correct-fade 1s ease-in-out;
}

/* Multiple Choice Activity Styles */

.multiple-choice-answers {
    margin-top: 3em;
}

.multiple-choice-button {
    width: 100%;
    margin: 0.4em 0;
    height: 3em;
}